@use '../../scss/abstracts' as *;

.dashboard-wrapper {
    // @include flex(stretch);
    scroll-behavior: smooth;


    
    @include tablet {
        flex-direction: column;
    }

    &__main {
        flex-grow: 1;
        // padding-right: $mainContentRightWidth;

        @include tablet {
            padding-right: 0;
        }
    }

    &__right {
        width: $mainContentRightWidth;
        // background-color: $mainBg;
        height: 100vh;
        // padding: $spacing;
        // border-top-left-radius: $borderRadius;
        // border-bottom-left-radius: $borderRadius;
        // border-radius: $borderRadius;
        // position: fixed;
        // top: 0;
        // right: 0;

        @include tablet {
            flex-direction: column;
            margin-top: $mobileSpacing;
            width: 100%;
            height: max-content;
        }

    }
}

.dashboard-header-wrapper {
    @include flex(center, start);
    flex-direction: row;
    background: $dashboardHeaderBg;
    padding: 30px;
    margin: -30px -30px 30px;
    position: relative;


    @include tablet {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin: 0px -30px 30px;
    }
}

.dashboard-header-heading {
    @include flex();
    font-size: 1.25rem;
    font-weight: 400;

    @include tablet {
        margin: 0 auto;
        display: block;
    }
}

.dashboard-header-subheading {
    padding: 3px 0 0;
    font-size: .88rem;
    opacity: .6;
}

.dashboard-header-icon {
    font-size: 2rem;
    @include flex();
    text-align: center;
    padding: 0.83333rem;
    margin: 0 30px 0 0;
    background: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    border-radius: 0.25rem;
    width: 60px;
    height: 60px;

    @include tablet {
        display: none;
    }
}