@use "../../scss/abstracts/" as *;

.form {
  border: 1px solid $gray0;
  padding: 40px;

  &__group {
    // margin-bottom: 20px;

    &:focus {
      outline: 0;
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.error {
  font-size: 12px;
  padding: 5px 0;
  color: $red;
}

.dropdown {
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px 0 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $black;
    background: $gray0;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &::after {
      top: calc(50% - 2px);
      right: 10px;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-top-color: $black;
      border-width: 4px;
      margin-left: -4px;
    }

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    background-color: $white;
    z-index: 5;
    border-radius: 8px;

    &_items {
      max-height: 210px;
      overflow-y: auto;
    }

    &_search {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $gray0;
      padding: 12px;
      outline: 0;
      background-color: $bodyBg;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $black;
    }

    &_item {
      padding: 10px;
      border-bottom: 1px solid $gray0;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $black;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: $gray0;
      }

      &.selected,
      &.selected:hover {
        background-color: $gray0;
        color: $white;
      }
    }
  }
}
