@use "../../scss/abstracts/" as *;

.pagination-container {
  @include flex(center, center);
  flex-direction: row;
}

.pagination {
  @include flex(center, center);
  margin: 2px 0;
  white-space: nowrap;

  &-info {
    white-space: nowrap;
  }

  &-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $black;

    &-touchable {
      cursor: pointer;
      color: $mainColor;
    }

    &-disabled {
      pointer-events: none;
      color: $gray0;
    }
  }
  
  &-wrapper {
    align-items: center;
    align-content: space-between;
  }
}

.pagination-number {
  @include flex(center, center);
  padding: 8px 9px;
  gap: 4px;
  width: 31px;
  height: 31px;
  background: #e9ecef;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $black;
  margin-right: 12px;
  &:hover {
    background-color: $mainColor;
    color: $white;
    z-index: 2;
    text-decoration: none;
  }
  &-active {
    background-color: $mainColor;
    color: $white;
    z-index: 2;
    text-decoration: none;
  }
  @include tablet {
    &:hover {
      background: lighten(#202020, 3%);
    }
  }
  &:active {
    background: lighten(#202020, 3%);
  }
}

.pagination-input {
  @include flex(center, center);
  padding: 8px 9px;
  gap: 4px;
  width: 31px;
  height: 31px;
  background: #e9ecef;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  // cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $black;
  margin-right: 12px;
  @include tablet {
    &:hover {
      background: lighten(#202020, 3%);
    }
  }
}

.pagination-active {
  background: lighten(#202020, 3%);
  position: relative;
}
